html {
  background: #F9F6EF;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #7C7468;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
 * Formatting the header area
 */
header {
  background-color: none;
  height: 2.5em;
  width: 100%;
  margin-bottom: 30px;
  padding-top: 25px;
}

header h1.logo {
  margin: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 2.2em;
  float: left;
  font-family: 'Zilla Slab', serif;
  color: #8CAB7D;
}

header h1.logo:hover {
  color: #8CAB7D;
  opacity: 50%;
  text-decoration: none;
}

/*
 * Centering the body content
 */
.container {
  width: 90%;
  margin: auto auto;
}

div.home {
  padding: 10px 0 30px 0;
  background-color: #f2ebb8;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

div.about {
  color: #7C7468;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  padding: 1em 2em 1em 2em;
  margin: 2vh;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.dashboard-text {
  float: left;
}

.card {
  /* padding: 10px 0 30px 0;
  background-color: #f2ebb8;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px; */
  color: #7C7468;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  /* padding-left: 2vw;
          padding-right: 2vw;
          padding-top: 0.4vh;
          padding-bottom: 0.4vh; */
  padding: 1em 2em 1em 2em;
  margin: 2vh;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.suggestion-card {
  /* padding: 10px 0 30px 0;
  background-color: #f2ebb8;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px; */
  position: absolute;
  width: 282px;
  height: 463px;
  left: 458px;
  top: 77px;
  color: #7C7468;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  /* padding-left: 2vw;
          padding-right: 2vw;
          padding-top: 0.4vh;
          padding-bottom: 0.4vh; */
  padding: 1em 2em 1em 2em;
  margin: 2vh;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

h2 {
  font-family: 'Zilla Slab', serif;
  font-weight: normal;
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-weight: normal;
  font-size: 1.7em;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

.menu {
  float: right;
  margin-top: 8px;
  margin-right: 10px;
}

.menu li {
  display: inline;
  text-transform: lowercase;
}

.menu li+li {
  margin-left: 35px;
}

.menu li a {
  color: #444;
  text-decoration: none;
}
