html {
  background: #E5E5E5;
  background-image: url(../img/bg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #7C7468;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/*
 * Formatting the header area
 */
header {
  background-color: none;
  height: 2.5em;
  width: 100%;
  margin-bottom: 30px;
  padding-top: 25px;
}

a {
  text-decoration: none;
}

header h1.logo {
  margin: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 2.2em;
  float: left;
  font-family: 'Zilla Slab', serif;
  color: #8CAB7D;
  transition: all 0.2s ease;
  transition-property: color;
}

header h1.logo:hover {
  color: #8CAB7D;
  opacity: 50%;
  text-decoration: none;
}

/*
 * Centering the body content
 */
.container {
  width: 90%;
  margin: auto auto;
}

.signup-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.signup-container-left img {
    padding: none;
    width: 200px;
    height: 500px;
    object-fit: cover;
    margin: 0px;
}

.signup-container-right {
    padding: none;
    width: auto;
    height: 500px;
    margin: 0px;
    background-color: #e0e0c4;
    overflow: auto;
    display: -webkit-flex;

}



.dashboard-container {
  display: flex;
  flex-direction: row;
}

div.home {
  padding: 10px 0 30px 0;
  background-color: #E5E5E5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

div.about {
  color: #7C7468;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  padding: 1em 2em 1em 2em;
  margin: 2vh;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

h2 {
  font-family: 'Zilla Slab', serif;
  font-weight: normal;
  font-size: 25px;
  /* margin-top: 40px; */
  text-align: center;
}

h3 {
  font-weight: normal;
  font-size: 22px;
  /* margin-top: 30px; */
  /* text-align: center; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.menu {
  float: right;
  margin-top: 8px;
  margin-right: 10px;
}

.menu li {
  display: inline;
  text-transform: lowercase;
}

.menu li+li {
  margin-left: 35px;
}

.menu li a {
  color: #7C7468;
  text-decoration: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  transition: all 0.2s ease;
  transition-property: color;
}

.menu li a:hover {
  color: #b5afa7;
}

.item {
  flex-grow: 1;
  height: 100px;
}

.item+.item {
  margin-left: 2%;
}

/* Dashboard Items */
.dashboard-text {
  float: left;
}

.dashboard-text .mdl-tooltip {
  position: sticky;
}

input[type=text], input[type=password], input[type=email] {
  /* width: 200px; */
  /* padding: 12px 20px; */
  /* margin: 8px 0; */
  box-sizing: border-box;
  border-radius: 20px;
  border-width: thin;
  border-color: #7C7468;
}

.card {
  color: #7C7468;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  padding: 1em 2em 1em 2em;
  margin: 2vh;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.suggestion-card {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 300px;
  height: 530px;
  color: #7C7468;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.2s ease;
  transition-property: box-shadow, background;
  margin-left: 20px;
}

.suggestion-card:hover {
  /* transition: all 0.2s ease; */
  background: rgba(100, 100, 100, 0.001);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 5px 7.5px 5px 1px rgba(201, 169, 122, 0.35);
}

.suggestion-card .card-body {
  padding: 1.75em 1.75em 1.75em 1.75em;
}

.suggestion-card .card-body .card-title {
  padding-right: 1em;
  font-size: 22px;
  font-weight: 400;
}

.suggestion-card .card-body .card-text {
  font-size: 15px;
  font-weight: 400;
}

.suggestion-card .card-body .buttonholder {
  text-align: center;
}

.suggestion-card .expand-button {
  float: right;
}

.suggestion-card .content img {
  width: 300px;
  height: 270px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.close-button {
  opacity: 0%;
}

.expanded-card {
  opacity: 0%;
  /* width: 1px; */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 630px;
  height: 530px;
  color: #7C7468;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
  display: inline-block;
  margin-left: 20px;
}

.expanded-card .content .map {
  border-radius: 20px 20px 0px 0px;
  /* width: 300px;
  height: 530px; */
  overflow: hidden;
}

.expanded-card .card-body {
  padding: 1.75em 1.75em 1.75em 1.75em;
  display: flex;
  flex-direction: row;
}

.expanded-card .card-body .button-group {
  width: 50em;
  padding-right: 1.5em;
  display: flex;
  flex-direction: column;
}

.expanded-card .card-body .button-group .button {
  /* width: 20em; */
  padding-top: 0.7em;
  padding-bottom: 0.3em;
  padding-left: 1.0em;
  padding-right: 1.0em;
  /* margin-top: 0.5em; */
  margin-bottom: 1.5em;
  border-radius: 20px 20px 20px 20px;
  /* flex-grow: 1; */
  background-color: #DDEAD6;
  opacity: 100%;
  /* display:flex;
  flex-direction: column; */
  font-size: 12px;
  transition: all 0.2s ease;
  transition-property: background-color;
}

.expanded-card .card-body .button-group .button a {
  color: #7C7468;
}

.expanded-card .card-body .button-group .button:hover {
  background-color: #CEDCC8;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(128, 128, 128, 0.155),
    0 2.1px 2.1px rgba(128, 128, 128, 0.195),
    0 4.4px 4.4px rgba(128, 128, 128, 0.241),
    0 12px 12px rgba(128, 128, 128, 0.35);
    overflow: hidden;
  }
  .login-form .form-input-material {
    margin: 4px 0;
    overflow: hidden;
  }
  .login-form label {
    margin-right: 10px;
  }
  .login-form .btn {
    width: 100%;
    margin: 18px 0 9px 0;
  }

  .login-form h3 { 
    text-align: center;
  }


.btn {
  padding: 8px 20px;
  border-radius: 0;
  overflow: hidden;
}

  .btn::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      var(--primary-color),
      transparent
    );
    transform: translateX(-100%);
    transition: 0.6s;
  }

  .btn:hover {
    background: white;
    box-shadow: 0 0 20px 10px hsla(203, 22%, 84%, 0.5);
  }
    .btn:hover::before {
      transform: translateX(100%);
    }

.form-input-material {
  --input-default-border-color: white;
  --input-border-bottom-color: white;
  padding: 1%;
  display: flex;
}
.form-input-material input {
    color: rgb(8, 8, 8);
  }

